<html>
	<head>
		<title>Todo List</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="assets/todo-list.js"></script>
		<link rel="stylesheet" href="/assets/styles.css" type="text/css">
	</head>
	<body>
		<div id="todo-table">
			<form action="">
				<input type="text" name="item" id="" placeholder="Add new item..." required>
				<button type="submit">Add Item</button>
			</form>
			<ul>
				<% for(var todo in todos) { %>
					<li><%= todos[todo].item %></li>
				<% } %>
			</ul>
		</div>
	</body>
</html>